@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Ben's Coffee Shop Home</h1>
</div>

<p>Best Coffee in the USA!</p>

<img height="200px" src="~/images/Coffee-Download-PNG.png" />